@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

.textinDE {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

.colorbg {
  background: #ffffff;
}

.buttonAddEvent {
  background-color: #20c0e8;
  font-family: "Chivo", sans-serif;
  color: white;
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid white;
}

.promoteEvent {
  color: #20c0e8;
  background-color: white;
  font-family: "Chivo", sans-serif;
  border-radius: 5px;
  padding: 7px 9px 8px 9px;
  border: 1px solid #20c0e8;
  margin-left: 18px;
}

